import { Story, Meta } from '@storybook/react'
import {{pascalCase name}} from './{{pascalCase name}}'

export default {
  title: '{{type}}/{{pascalCase name}}',
  component: {{pascalCase name}}
} as Meta

export const Default: Story = () => <{{pascalCase name}} />
